.frameChild,
.howItWorksTitleDivider {
  position: absolute;
  top: 0;
  border-radius: var(--br-81xl);
}
.howItWorksTitleDivider {
  left: 42px;
  box-shadow: -6px -5px 12px #fafbfc inset, 4px 4px 10px #d8d8d8 inset,
    1px 1px 8px #f4f6f9;
  background-color: var(--color-whitesmoke-300);
  width: 150px;
  height: 150px;
}
.frameChild {
  left: 0;
  box-shadow: 0 20px 50px rgba(151, 151, 151, 0.15);
  background-color: var(--gray-scale-white);
  width: 100%;
  height: 100%;
  display: none;
}
.mditruckFastOutlineIcon {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  z-index: 1;
}
.rectangleParent {
  position: absolute;
  top: 54px;
  left: 0;
  box-shadow: 0 20px 50px rgba(151, 151, 151, 0.15);
  border-radius: var(--br-81xl);
  background-color: var(--gray-scale-white);
  width: 150px;
  height: 150px;
  z-index: 1;
}
.howItWorksTitleContainer {
  height: 204px;
  flex: 1;
  position: relative;
}
.howItWorksTitleContainerWrapper {
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.howItWorksContainer {
  margin: 0;
  height: 43px;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-family: inherit;
}
.frameItem {
  width: 130px;
  height: 4px;
  position: relative;
  background-color: var(--simorange);
}
.frameGroup,
.howItWorksParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frameGroup {
  width: 657px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--black);
}
.frameInner {
  width: 400px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.emptyImage {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 14px;
}
.emptyImageWrapper {
  height: 50px;
  width: 50px;
  border-radius: var(--br-81xl);
  background-color: var(--color-midnightblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs-5) var(--padding-lg);
  box-sizing: border-box;
}
.processed {
  margin: 0;
  position: relative;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  font-weight: 900;
  font-family: inherit;
  color: var(--simorange);
  text-align: left;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.thenYouCan {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  color: var(--text-1);
  text-align: left;
}
.frameContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  min-width: 300px;
}
.groupIcon {
  height: 609px;
  width: 600px;
  position: absolute;
  margin: 0 !important;
  bottom: -105px;
  left: calc(50% - 300px);
  z-index: 1;
}
.rectangleGroup {
  width: 950px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
}
.howItWorksStepColumns {
  width: 1140px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameParent,
.howItWorksStepColumns,
.logisticsLandingPageInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.logisticsLandingPageInner {
  width: 1334px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-25xl) var(--padding-222xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--body-xxl-body-xxl-500-size);
  color: var(--color-whitesmoke-200);
  font-family: var(--header1);
}
@media screen and (max-width: 1200px) {
  .logisticsLandingPageInner {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    padding-bottom: var(--padding-138xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .howItWorksContainer {
    font-size: var(--font-size-10xl);
  }
  .frameInner {
    flex: 1;
  }
  .processed {
    font-size: var(--heading-05-heading-05-600-size);
  }
  .frameContainer {
    flex: 1;
  }
  .rectangleGroup {
    flex-wrap: wrap;
  }
  .logisticsLandingPageInner {
    padding-bottom: var(--padding-83xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .howItWorksContainer {
    font-size: var(--font-size-3xl);
  }
  .emptyImage {
    font-size: var(--font-size-lgi);
  }
  .processed {
    font-size: var(--body-xxl-body-xxl-500-size);
  }
  .frameContainer {
    gap: var(--gap-xl);
  }
  .logisticsLandingPageInner {
    padding-bottom: var(--padding-47xl);
    box-sizing: border-box;
  }
}
