.weeklyShipmentsChart {
  text-decoration: none;
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  color: inherit;
}
.weeklyShipmentsChartWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.thisWeek {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 57px;
}
.thisWeekWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
}
.emptyLegendIcon {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-shrink: 0;
}
.chartLegend,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.chartLegend {
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-xs);
  color: var(--black);
}
.frameParent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.k {
  position: relative;
  letter-spacing: 0.1px;
  display: inline-block;
  min-width: 19px;
}
.dividerGraphHorizontal {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chartArea,
.dividerGraphHorizontalWrapper,
.yAxis {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.dividerGraphHorizontalWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 376px;
}
.chartArea,
.yAxis {
  align-self: stretch;
}
.yAxis {
  flex-direction: row;
  gap: var(--gap-2xs);
  font-size: var(--font-size-3xs);
  color: var(--text3);
}
.chartArea {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.k1 {
  position: relative;
  letter-spacing: 0.1px;
  display: inline-block;
  min-width: 19px;
}
.dividerGraphHorizontal1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dividerGraphHorizontalContainer,
.kParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.dividerGraphHorizontalContainer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 376px;
}
.kParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.sheetIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pointerValue {
  position: absolute;
  top: 8px;
  left: 20px;
  font-weight: 700;
  display: inline-block;
  min-width: 38px;
  z-index: 1;
}
.pointerAndValue {
  height: 37px;
  width: 78px;
  position: relative;
}
.pointerAndValueWrapper {
  width: 354px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--simblue);
}
.chartValues,
.k2,
.k3 {
  position: relative;
  letter-spacing: 0.1px;
  display: inline-block;
  min-width: 19px;
}
.chartValues {
  min-width: 6px;
}
.bottomValues {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.dividerGraphHorizontal2,
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 578px;
  height: 1px;
}
.frameChild {
  width: 15px;
  height: 15px;
  z-index: 2;
}
.cursorPointingHand {
  position: absolute;
  top: 7px;
  left: 6px;
  width: 16px;
  height: 16px;
  z-index: 3;
}
.frameGroup {
  position: absolute;
  top: 0;
  left: 394px;
  width: 22px;
  height: 23px;
}
.horizontalDividers {
  align-self: stretch;
  height: 23px;
  position: relative;
}
.dividerGraphHorizontal3 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.firstDividerSet {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.dividersAndCursorChild {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.dividerGraphHorizontal4 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dividersAndCursor {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 var(--padding-2xs);
  position: relative;
  gap: var(--gap-33xl);
}
.bottomDividers,
.chartBottomLabels,
.firstBar {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.bottomDividers {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 376px;
}
.chartBottomLabels,
.firstBar {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-2xs);
}
.firstBar {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs-5);
}
.abuja {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 26px;
}
.abujaWrapper,
.locationLabelsInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.abujaWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--gray-scale-white);
  flex-direction: row;
}
.locationLabelsInner {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.lagos {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 26px;
}
.lagosWrapper,
.locationLabelsChild {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lagosWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--gray-scale-white);
  flex-direction: row;
}
.locationLabelsChild {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.lagos1 {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 26px;
}
.frameDiv,
.lagosContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lagosContainer {
  border-radius: var(--br-3xs);
  background-color: var(--gray-scale-white);
  flex-direction: row;
}
.frameDiv {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.accra {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 26px;
}
.accraWrapper,
.locationLabelsInner1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.accraWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--gray-scale-white);
  flex-direction: row;
}
.locationLabelsInner1 {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.bali {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 17px;
}
.baliWrapper,
.locationLabelsInner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.baliWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--gray-scale-white);
  flex-direction: row;
}
.locationLabelsInner2 {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.greece {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 33px;
}
.greeceWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--color-aliceblue-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-4xs);
  color: var(--simblue);
}
.milan {
  flex: 1;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  min-width: 29px;
}
.locationLabelsInner3,
.milanWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.milanWrapper {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--gray-scale-white);
  flex-direction: row;
}
.locationLabelsInner3 {
  width: 29px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.usa {
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  min-width: 20px;
}
.locationLabelsInner4,
.usaWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.usaWrapper {
  border-radius: var(--br-3xs);
  background-color: var(--gray-scale-white);
  flex-direction: row;
}
.locationLabelsInner4 {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.locationLabels {
  width: 578px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  color: var(--text-1);
}
.chartAndLegend,
.chartBars {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.chartBars {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-6xs);
  font-size: var(--font-size-3xs);
  color: var(--text3);
}
.chartAndLegend {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--gray-scale-white);
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.deliveries {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
  min-width: 64px;
}
.frameItem {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameInner {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--gray-scale-white);
  z-index: 2;
}
.ellipseWrapper {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipseDiv,
.frameChild1 {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--gray-scale-white);
  z-index: 2;
}
.ellipseDiv {
  position: absolute;
  margin: 0 !important;
  bottom: 30px;
  left: 33px;
}
.frameChild1 {
  position: relative;
}
.ellipseContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl) 0 var(--padding-6xl);
}
.span {
  font-size: var(--body-large-body-large-500-size);
}
.div {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 48px;
  font-weight: 500;
  display: inline-block;
  min-width: 62px;
  z-index: 1;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 0;
}
.frameChild2 {
  width: 4px;
  height: 4px;
  position: relative;
  border-radius: 50%;
  background-color: var(--gray-scale-white);
  z-index: 2;
}
.frameContainer,
.frameParent1,
.frameParent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-24xl);
}
.frameContainer,
.frameParent1 {
  align-items: flex-start;
  gap: var(--gap-38xl);
}
.frameContainer {
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-32xl);
  min-width: 117px;
}
.statusIndicators {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-salmon);
}
.statusIndicatorsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.ontime,
.separators {
  position: relative;
  font-weight: 500;
}
.ontime {
  flex: 1;
  text-transform: capitalize;
}
.separators {
  letter-spacing: 0.01em;
  text-align: center;
  display: inline-block;
  min-width: 24px;
}
.statusTrio {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.frameChild3 {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-cornsilk);
}
.statusTrioInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.div1,
.inProgress {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.inProgress {
  line-height: 15px;
  text-transform: capitalize;
  min-width: 60px;
}
.div1 {
  letter-spacing: 0.01em;
  text-align: center;
  min-width: 24px;
}
.statusTrio1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid-5);
}
.frameChild4 {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslategray-100);
}
.statusTrioChild {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.delayed,
.div2 {
  position: relative;
  font-weight: 500;
}
.delayed {
  flex: 1;
  text-transform: capitalize;
}
.div2 {
  letter-spacing: 0.01em;
  text-align: center;
  display: inline-block;
  min-width: 24px;
}
.statusTrio2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.statusContainer {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-mini);
}
.deliveriesTitle,
.deliveryProgress,
.deliveryStatus,
.statusContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.deliveryStatus {
  width: 127px;
  flex-direction: column;
  padding: var(--padding-35xl) 0 0;
  box-sizing: border-box;
  min-width: 127px;
  text-align: left;
  font-size: var(--font-size-xs);
}
.deliveriesTitle,
.deliveryProgress {
  align-self: stretch;
}
.deliveryProgress {
  flex-direction: row;
  gap: var(--gap-31xl);
  text-align: center;
  font-size: var(--font-size-15xl);
}
.deliveriesTitle {
  flex-direction: column;
  gap: var(--gap-11xl);
}
.downloadStatistics {
  position: relative;
  font-size: var(--font-size-xs);
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--header1);
  color: var(--simblue);
  text-align: center;
  display: inline-block;
  min-width: 107px;
}
.downloadContainer,
.statisticsDownload {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.downloadContainer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-21xl);
  background-color: var(--color-limegreen-500);
  border-radius: var(--br-xs);
  overflow: hidden;
  justify-content: flex-start;
  white-space: nowrap;
}
.downloadContainer:hover {
  background-color: var(--color-limegreen-400);
}
.statisticsDownload {
  align-self: stretch;
  justify-content: center;
}
.deliveriesTitleParent {
  width: 417px;
  border-radius: var(--br-xl);
  background-color: var(--gray-scale-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  min-width: 417px;
  max-width: 100%;
}
.chartAndLegendParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.chartAndLegendParent {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.frameWrapper {
  width: 1163px;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--body-small-body-small-400-size);
  color: var(--text-1);
  font-family: var(--header1);
}
@media screen and (max-width: 975px) {
  .deliveriesTitleParent {
    flex: 1;
  }
  .chartAndLegendParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .dividerGraphHorizontalWrapper {
    min-width: 100%;
  }
  .yAxis {
    flex-wrap: wrap;
  }
  .dividerGraphHorizontalContainer {
    min-width: 100%;
  }
  .kParent {
    flex-wrap: wrap;
  }
  .dividersAndCursor {
    gap: var(--gap-7xl);
  }
  .bottomDividers {
    min-width: 100%;
  }
  .chartBottomLabels,
  .locationLabels {
    flex-wrap: wrap;
  }
  .chartAndLegend {
    gap: var(--gap-xl);
    min-width: 100%;
  }
  .deliveriesTitleParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .frameParent {
    flex-wrap: wrap;
  }
  .chartAndLegend {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .deliveryStatus {
    flex: 1;
  }
  .deliveryProgress {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .deliveriesTitleParent {
    gap: var(--gap-6xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
